🤖 <b>Electrosafety_bot</b> ⚡️ - бот для прохождения тестов по электробезопасности.

🧩 В настройках вы можете выбрать количество вопросов и тему.
🎲 По умолчанию выбрана <b>IV группа</b>, <b>10 вопросов</b>.

⏳ Время на ответ не ограничено.
🏆 Тест считается успешным при <b>80%</b> правильных ответов.

🎯 Если вы отвечаете правильно, автоматически переходите к следующему вопросу. Если вы ошиблись- всплывает правильный ответ.

🔧 Если у вас есть свои предложения по модернизации, если вы нашли ошибки, если у вас есть свои варианты теста в текстовом виде, пишите мне